@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    color: #000;
    text-decoration: none;

}

body {
    background-color: #FDF8F5 !important;
    font-family: 'Amiri', sans-serif;
    margin: 0;
}

.navbar {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-color: #E4CEAE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
    height: 80px;
}

.navbar-nav .nav-link {
    color: #6c757d;
    font-size: 22px;
    margin-left: 70px;
    font-family: 'Amiri', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #8E6D42;
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background-color: white;
        border: 2px solid #ECBF5D;
        border-radius: 20px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        z-index: 999;
        text-align: center;
        padding: 15px 0;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        font-size: 16px;
    }
}

.hero-section {
    background-color: transparent;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}

.card-min-width {
    min-width: 350px;
}

.hero-card {
    background-color: #e9e7e7;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 90%;
    max-width: 600px;
    font-size: 13px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero {
    text-align: right;
    padding: 40px;
    width: 50%;
    margin-right: auto;
    margin-left: 0;
}

.custom-scroll {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
}

.custom-btn {
    border: 2px solid #7F5A2D;
    /* Green border */
    color: #4CAF50;
    /* Green text */
    background-color: transparent;
    /* Transparent by default */
    transition: 0.3s;
}

.custom-btn:hover {
    background-color: #D2B898;
    /* Fill green on hover */
    color: white;
}

@media (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: center;
        padding: 10px 60px;
    }

    .navbar-brand {
        margin-left: auto;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    /*logo size*/
    .navbar-brand img {
        height: 80px;
    }
}


/* img */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.image-container {
    position: relative;
    width: 48%;
    margin: 0 1%;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* img */

/* media */
@media (max-width: 768px) {
    .image-section {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .image-container {
        width: 50%;
        margin-bottom: 20px;
    }

    .image-container img {
        border-radius: 15px;
    }

    .navbar-toggler {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }
}

/* media */

section {
    padding: 2rem 9%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: var(--Very-Dark-Blue);
    margin-top: 10rem;
    margin-bottom: 5rem;
}


.heading h1 {
    padding-bottom: 2rem;
}


.heading p {
    max-width: 60rem;
    margin: auto;
    color: var(--Grayish-Blue);
    font-size: 1.7rem;
}


.all-btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--Soft-Blue);
    border-radius: .5rem;
    color: #fff;
}

.all-btn:hover {
    background-color: transparent;
    color: var(--Soft-Blue);
    border: 2px solid var(--Soft-Blue);
}


:root {
    --Soft-Blue: #623F14;
    --Soft-Red: #623F14;
    --Grayish-Blue: #623F14;
    --Very-Dark-Blue: #623F14;
    --box-shadow: .5rem .5rem 0 #623F14;
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid #623F14;
}

.special-section {
    background-Image: "url('/img/KSA4.png')";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    padding: 70px;
    color: white;
    text-emphasis-position: left;
}

/* Media Queries */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/* home section starts  */
.home {
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* main property for responsiveness */
    gap: 1.5rem;
}


.home .image {
    flex: 1 1 45rem;
}
.home .image img {
    width: 100%;
    margin-top: 5rem;

}
.home .content {
    flex: 1 1 45rem;
}
.home .content h1 {
    font-size: 4.5rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}
.home .content p {
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 40rem;
    color: var(--Grayish-Blue);
    padding-bottom: 4rem;
}
.home .content .home-btn {
    padding: 1.3rem 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    box-shadow: .5rem .5rem hsl(231, 69%, 60%);
    border: 2px solid var(--Soft-Blue);
    border-radius: .5rem;
}
.home .content .home-btn:hover {
    background-color: var(--Soft-Blue);
    box-shadow: none;
    color: #fff;
}


.main {
    font-size: 57px;
    font-family: 'Amiri';
    color: #623F14;
    text-align: center;
    font-weight: bold;
}

.main2 {
    font-size: 35px;
    font-family: 'Amiri';
    color: #B59A77;
    text-align: center;
    font-weight: bold;
}

.main3 {
    font-size: 25px;
    font-family: 'Amiri';
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.main4 {
    font-size: 20px;
    font-family: 'Amiri';
    color: #B59A77;
    text-align: center;
    font-weight: bold;
}

.main5 {
    font-size: 40px;
    font-family: 'Amiri';
    color: #623F14;
    text-align: center;
    font-weight: bold;
}

.main6 {
    font-size: 15px;
    font-family: 'Amiri';
    color: #623F14;
    text-align: center;
    font-weight: bold;
}

.main7 {
    font-size: 25px;
    font-family: 'Amiri';
    color: #623F14;
    text-align: center;
    font-weight: bold;
}

.footer {
    background-color: #e8ccac;
    border-top: 2px solid #e8ccac;
}

.cta-button {
    background: #8E724F;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Amiri', sans-serif;
    margin-left: 30px;
}

/* Buttons for slider left/right */
.small-rounded-btn {
    width: 35px;
    height: 35px;
}

/* Slider container */
#slider {
    scroll-behavior: smooth;
    max-width: 1120px;
}

/* Cards inside slider */
.card-item {
    min-width: 350px;
}

/* Footer text */
.footer-text {
    color: #623F14;
}

/* for buttons on the nav bar*/
.nav-link-clickable {
    cursor: pointer;
}


/* Login-specific custom styles */
.signup-link {
    color: #623F14;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}

.login-redirect {
    font-size: 14px;
}

.custom-search {
    background-color: #e8ccac;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
    color: #333;
    margin-right: 250px;
}

.custom-search::placeholder {
    color: #666;
}

.custom-search:focus {
    border-color: #8d6e35;
    outline: none;
    box-shadow: 0 0 5px rgba(163, 139, 95, 0.3);
}

.search-icon {
    position: relative;
    right: 480px;
    top: 30%;
    bottom: -9px;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
    pointer-events: none;
}

.favorite-button {
    background-color: #e8ccac;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: 20px;         
    right: 30px;      
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
.favorite-button i {
    font-size: 20px;
  }
  

.story-card-image {
    transition: transform 0.3s ease;
}

.story-card-image:hover {
    transform: scale(1.05);
}

.google-login-btn {
    background-color: #fff;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.google-login-btn:hover {
    background-color: #f7f7f7;
}

/*proverbs section */
.proverb-card-left {
    position: relative;
    width: 500px;
    height: 350px;
    margin: 50px 0 20px 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #D2B898;
    z-index: 1;
}

.left-arrow {
    left: -40px;
}

.right-arrow {
    right: -360px;
}

/*image*/
.image-container-small {
    position: absolute;
    /* or relative */
    top: 25px;
    margin-left: 500px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    color: #000000;
    border:4px solid #D2B898;


}
.proverb-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.text-container {
    padding: 20px;

}
/* main Card*/
.main-proverb-card {
    background-color: transparent;
    /* No fill */
    border-radius: 20px;
    height: 20%;
    /* Rounded corners */
    padding: 30px;
    width: 900px;
    height: 250px;
    margin: 100px auto 20px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    /* soft shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 120px;
}

.main-proverb-card:hover {
    transform: scale(1.03);
    /* Slight zoom */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    /* Stronger shadow */
}

.proverb-section {
    position: relative;
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
    direction: rtl;

}
.about-image {
    width: 450px;
    height: 450px;
    margin-top: 50px;

  }